<div>
  <br />
  <div class="alert alert-success" role="alert" id="success_message" style="display:none">
  </div>

  <div class="alert alert-danger" role="alert" id="error_message" style="display:none">
  </div>
</div>